{{#each groups}}
    <li class="tile-group">
      <h2 class="group-name">{{{name}}}</h2>
      <ol class="tiles">
        {{#each tiles}}
            <li class="tile" data-exercise="{{ex}}">
              <div class="wrap">
                <div class="front">
                  <h3 class="title">{{{title}}}</h3>
                  <div class="score"><span class="earned" data-maxpts="{{maxpts}}">0</span>/{{maxpts}}</div>
                </div>
                <div class="back">
                  <div class="content-window">
                    <iframe class="content" src="exercises/{{ex}}">Your browser isn&apos;t very good. You should upgrade it.</iframe>
                  </div>
                </div>
              </div>
            </li>
        {{/each}}
      </ol>
    </li>
{{/each}}
